
@model IEnumerable<Vidly2.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<table class="table table-bordered">
    @if (Model.Count() == 0)
    {
        <text>Il n'y a pas de clients dans la base de donnée</text>
    }
    else
    {
        <tr>
            <th>
                Customers
            </th>
            <th>
                Membership Type
            </th>
        </tr>
        foreach (var Customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(Customer.Name, "Details", "Customers", new { id = Customer.Id }, null)
                </td>
                <td>
                    @Customer.MembershipType.Name
                </td>
            </tr>
        }
    }
</table>





